<h1>olá, {{nome}}</h1>

<div class="rounded justificado">
  <p>Parece que você esqueceu sua senha. Tudo bem, não tem problema :) <br>
  Sua nova senha é: {{senha}} <br>
  Caso não tenha solicitado a troca da senha, entre em contato com os Admistradores</p>
</div>
