<h1>Bem vindo ao Cabelus!</h1>
<div class="rounded justificado">
 Você foi cadastrado! e a sua senha é : {{objeto}} !
</div>
<a target="_blank" href="{{link}}">
  <button style="height: 40px;width: 100px;border:1px;border-radius:5px;background-color: #5d5fab;color:white;">Acessar</button>
</a>
